body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
header {
    background-color: #1e07ee;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 50px;
    color: White;
}
main {
    padding: 20px;
    background-color: darkred;
    color: white;
}