body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
header {
    background-color: #1e07ee;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 50px;
    color: White;
}
main {
    padding: 20px;
    background-color: darkred;
    color: white;
}
section {
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
h2 {
    font-size: 35px;
}
p {
    font-size: 20px;
    font-family: 'Timmana', sans-serif;
}